body {
    font-family: sans-serif;
    background-color: white;

    
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img {padding:20px;
    margin-right: 275px;
    height: 200px;
    
}
